@using DefaultProject.Models

<h1>Welcome @ViewBag.currentUser.first_name @ViewBag.currentUser.last_name</h1>

<a href="/logout" class="btn btn-danger">Log Out</a>

<hr>


<h2>List of Weddings</h2>

<table class="table">
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>Actions</th>
    </tr>
    @{
        foreach(var wedding in @ViewBag.allWeddings){
            <tr>
                <td><a href="/wedding/@wedding.id">@wedding.wedder1 & @wedding.wedder2</a></td>
                <td>@wedding.date</td>
                <td>@wedding.rsvps.Count</td>
                <td>
                    @if (@wedding.creator.id == @ViewBag.currentUser.id){
                        <form action="/delete/@wedding.id" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    }
                    else{
                        bool print = true;
                        foreach (var rsvp in @ViewBag.rsvps_cool){
                            @if (rsvp.user.id == @ViewBag.currentUser.id && rsvp.wedding.id == @wedding.id){
                                print = false;
                            }
                        }
                        @if (print){
                            <form action="/rsvp/@wedding.id" method="POST">
                            <input type="submit" value="RSVP" class="btn btn-primary">
                            </form>
                        }
                        else{
                            <form action="/rsvp/@wedding.id" method="POST">
                            <input type="submit" value="Un-RSVP" class="btn btn-primary">
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    }
</table>

<a href="/create" class="btn btn-success">Create New Wedding</a>

