@{
    ViewData["Title"] = "Home Page";
}
<br><br>
<table class="table table-bordered">
    <tr>
        <th>Trail Name</th>
        <th>Length</th>
        <th>Elevation Change</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    @foreach (var thisTrail in ViewBag.trails)
    {
        <tr>
            <td><a href="trails/@thisTrail.idtrails">@thisTrail.Name</a></td>
            <td>@thisTrail.Length miles</td>
            <td>@thisTrail.ElevationChange feet</td>
            <td>@thisTrail.Latitude</td>
            <td>@thisTrail.Longitude</td>
        </tr>
    }
</table>

<a href="/add" class="btn btn-primary">Add a New Trail</a>